.workout-container {
  width: 400px;
  margin: 0 auto;
  .workout-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
  }
  .workout-item {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 50px;
    padding-left: 15px;
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;

    &:hover {
      background-color: $grey-hover;
    }
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
}

.circuit-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  h4 {
    color: gray;
  }
}

.list {
  // padding for exercise list
  padding-left: 0;
  //Created 3 sided border for parent, children have bottom borders
  border-top: .5px solid $grey-dark;
  border-right: .5px solid $grey-dark;
  border-left: .5px solid $grey-dark;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);

}

li {
  list-style-type: none;
  border-bottom: .5px solid $grey-dark;
}

.workout-item {
  font-size: 18px;
  font-weight: 200;
  height: 50px;
}

.next-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;

  &:hover {
    background-color: $grey-hover;
  }
}

//Trying tabs
.circuit-tab {
  height: 50px;
  display: flex;
  justify-content: space-around; //TODO not working
  align-items: center;
  a {
    text-decoration: none;
    font-weight: bold;
    color: $indigo;

    &:hover {
      color: rgba($indigo, .5);
    }
  }
}

//.circuit-tab-test {
//  height: 50px;
//  display: flex;
//  flex-direction: row;
//  ul {
//    li {
//      display: flex;
//      flex-direction: column;
//      justify-content: center;
//
//      .circuit-link {
//        text-decoration: none;
//        font-weight: bold;
//        color: $indigo;
//      }
//      .line {
//        height: 4px;
//        width: 90px;
//        background-color: $indigo;
//      }
//    }
//  }
//}

.circuit-tab-test {
  height: 70px;
  display: flex;
  align-items: center;
  .circuit-tab-parent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .circuit-tab {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .circuit-link {
        padding-bottom:10px;
      a {
        text-decoration: none;
        font-weight: bold;
        color: $indigo;
      }
      }
      .line {
        height: 2px;
        width: 90px;
        background-color: $indigo;
      }
    }
  }
}


//OLD CODE
//.workout-container {
//  width: 400px;
//  margin: 0 auto;
//  .workout-item {
//    display: flex;
//    justify-content: space-between;
//    align-items: center;
//    height: 50px;
//    padding-left: 15px;
//  }
//  .workout-item:hover {
//    background-color: #3F51B5;
//    color: white;
//    //TODO mixin that removes 'mdl-button--colored'
//  }
//  p {
//    font-size: 16px;
//    font-weight: 200;
//  }
//}

// Today's Workout
//.workout {
//  .circuit-container {
//    display: flex;
//    flex-direction: row;
//    justify-content: space-around;
//    h4 {
//      color: gray;
//    }
//  }
//  li {
//    list-style-type: none;
//  }
//  .workout-item {
//    font-size: 18px;
//    font-weight: 200;
//    height: 50px;
//  }
//  //li:hover {
//  //  //display: block;
//  //  background-color: gray;
//  //  color: white;
//  //TODO scss lnking not working; variables not working
//  //background-color: $light-indigo;
//  li:nth-child(odd) {
//    background-color: #E8EAF6;
//  }
//
//  .workout-visual {
//    margin-bottom: 5px;
//  }
//
//}

.start-button {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  button {
    width: 100px;
  }
}

.circuit-exercises {
  li span {
    font-weight: bold;
  }
}
