body {
  //background-image: url('../images/Shoe_tie.jpg');
  //-webkit-background-size: contain;
  //background-size: contain;
}

//.background-photo {
//  position: relative;
//  width: 100%;
//  img {
//    position: absolute;
//  }
//}

.workout-container {
  width: 400px;
  margin: 0 auto;
  .workout-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 15px;
  }
  .workout-item:hover {
    background-color: #3F51B5;
    color: white;
    //TODO mixin that removes 'mdl-button--colored'
  }
  p {
    font-size: 16px;
    font-weight: 200;
  }
}

// Today's Workout
.workout {
  .circuit-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h4 {
      color: gray;
    }
  }
  li {
    list-style-type: none;
  }
  .workout-item {
    font-size: 18px;
    font-weight: 200;
    height: 50px;
  }
  //li:hover {
  //  //display: block;
  //  background-color: gray;
  //  color: white;
  //TODO scss lnking not working; variables not working
  //background-color: $light-indigo;
  li:nth-child(odd) {
    background-color: #E8EAF6;
  }

  .workout-visual {
    margin-bottom: 5px;
  }

}

.start-button {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  button {
    width: 100px;
  }
}

.circuit-exercises {
  li span {
    font-weight:bold;
  }
}
