$light-indigo: #E8EAF6;
$indigo: #3F51B5;
$dark-indigo: #303F9F;

$pink: #FF4081;
$facebook: #3b5998;
$facebook-light: #4e69a2;
$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;

$grey-hover: #EEEEEE;

$blue-500: #2196F3;

//Palette
$amber-600: #ffb300;
$purple-700: #7b1fa2;
$indigo-900: #1a237e;
$pink-400: #ec407a;
$pink-700: #C2185B;
$cyan-700: #0097A7;
$blue-grey-500: #607D8B;

// purple and teal palettes
// https://www.materialpalette.com/deep-purple/cyan
