<p>Here are various ways to show our About info. First is cards, second is a list, third is plain text.</p>


<h3>Purpose</h3>

<div class="about-card-container">

  <!--MDL card-->
  <!--<div class="demo-card-square mdl-card mdl-shadow&#45;&#45;2dp">-->
  <!--<div class="mdl-card__title mdl-card&#45;&#45;expand">-->
  <!--<h2 class="mdl-card__title-text">Accessible</h2>-->
  <!--</div>-->
  <!--<div class="mdl-card__supporting-text">-->
  <!--Workouts can be tailored based on ability, injury, or equipment.-->
  <!--Exercises can be skipped, and a new one will be suggested.-->
  <!--</div>-->
  <!--<div class=" mdl-card&#45;&#45;border">-->
  <!--&lt;!&ndash;<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect">&ndash;&gt;-->
  <!--&lt;!&ndash;View Updates&ndash;&gt;-->
  <!--&lt;!&ndash;</a>&ndash;&gt;-->
  <!--</div>-->
  <!--</div>-->

  <!--My card-->
  <div class="about-card">
    <h5>Accessible</h5>
    <p>Workouts can be tailored based on ability, injury, or equipment.
      Exercises can be skipped, and a new one will be suggested.</p>
  </div>

  <!--My card-->
  <div class="about-card">
    <h5>Fast</h5>
    <p>Open the app and go. All the info about exercises and equipment is right there.</p>
  </div>

  <!--My card-->
  <div class="about-card">
    <h5>Variety</h5>
    <p>Exercises are varied so you won't get bored.</p>
  </div>

  <!--My card-->
  <div class="about-card">
    <h5>Variety</h5>
    <p>Exercises are varied so you won't get bored.</p>
  </div>

</div>

<!--MLD list-->
<!-- Two Line List with secondary info and action -->
<!--<style>-->
<!--.demo-list-two {-->
<!--width: 300px;-->
<!--}-->
<!--</style>-->
<!--<div class="about-list-container">-->
<!--<ul class="about-list demo-list-two mdl-list">-->

<!--<li class=" mdl-list__item mdl-list__item&#45;&#45;two-line">-->
<!--<span class="mdl-list__item-primary-content">-->
<!--<span>Accessible</span>-->
<!--<span class="mdl-list__item-sub-title">Workouts can be tailored based on ability, injury, or equipment.-->
<!--Exercises can be skipped, and a new one will be suggested.</span>-->
<!--</span>-->
<!--</li>-->
<!--<li class=" mdl-list__item mdl-list__item&#45;&#45;two-line">-->
<!--<span class="mdl-list__item-primary-content">-->
<!--<span>Fast</span>-->
<!--<span class="mdl-list__item-sub-title">Open the app and go. All the info about exercises and equipment is right there.</span>-->
<!--</span>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->

<h4>Same info as list</h4>
<div class="test-about-list-container">
  <ul class="test-about-list">
    <li>
      <h5>Accessible</h5>
      <p>Workouts can be tailored based on ability, injury, or equipment.
        Exercises can be skipped, and a new one will be suggested.</p>
    </li>
    <li>
      <h5>Fast</h5>
      <p>Workouts can be tailored based on ability, injury, or equipment.
        Exercises can be skipped, and a new one will be suggested.</p>
    </li>
    <li>
      <h5>Variety</h5>
      <p>Exercises are varied so you won't get bored.</p>
    </li>
  </ul>
</div>


<br>
<!--A long version-->
<h4>How To Use This App</h4>

<p>Imagine this app as a box of notecards. Each notecard has 10 exercises,
  so when you go to the gym, you can pick a notecard and have a great workout.
  <br>
  <br>
  It's customizable, so you can skip exercises you don't like and the app
  will suggest a new one instead. Each exercise has instructions so you can learn
  proper form.
</p>
