
<h3>Purpose</h3>

<div class="about-card-container">

  <!--MDL card-->
  <!--<div class="demo-card-square mdl-card mdl-shadow&#45;&#45;2dp">-->
  <!--<div class="mdl-card__title mdl-card&#45;&#45;expand">-->
  <!--<h2 class="mdl-card__title-text">Accessible</h2>-->
  <!--</div>-->
  <!--<div class="mdl-card__supporting-text">-->
  <!--Workouts can be tailored based on ability, injury, or equipment.-->
  <!--Exercises can be skipped, and a new one will be suggested.-->
  <!--</div>-->
  <!--<div class=" mdl-card&#45;&#45;border">-->
  <!--&lt;!&ndash;<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect">&ndash;&gt;-->
  <!--&lt;!&ndash;View Updates&ndash;&gt;-->
  <!--&lt;!&ndash;</a>&ndash;&gt;-->
  <!--</div>-->
  <!--</div>-->

  <!--My card-->
  <div class="about-card">
    <h5>Accessible</h5>
    <p>Workouts can be tailored based on ability, injury, or equipment.
      Exercises can be skipped, and a new one will be suggested.</p>
  </div>

  <!--My card-->
  <div class="about-card">
    <h5>Fast</h5>
    <p>Open the app and go. All the info about exercises and equipment is right there. We have tested these workouts and they can be done in 30 minutes or less- no excuses!</p>
  </div>

  <!--My card-->
  <div class="about-card">
    <h5>Variety</h5>
    <p>Exercises are varied so you won't get bored. We are creating new exercises all the time and adding them to our exercise database so they are ready for you the minute you want to try something new!</p>
  </div>

  <!--My card-->
  <div class="about-card">
    <h5>Intensity</h5>
    <p>These circuit based workouts are here so that you have the tools you need to make the most of your workout. With so many options, these workouts are challenging, effective and intense!</p>
  </div>

</div>

<h3>Philosophy</h3>

<div class="about-card-container">

  <!--MDL card-->
  <!--<div class="demo-card-square mdl-card mdl-shadow&#45;&#45;2dp">-->
  <!--<div class="mdl-card__title mdl-card&#45;&#45;expand">-->
  <!--<h2 class="mdl-card__title-text">Accessible</h2>-->
  <!--</div>-->
  <!--<div class="mdl-card__supporting-text">-->
  <!--Workouts can be tailored based on ability, injury, or equipment.-->
  <!--Exercises can be skipped, and a new one will be suggested.-->
  <!--</div>-->
  <!--<div class=" mdl-card&#45;&#45;border">-->
  <!--&lt;!&ndash;<a class="mdl-button mdl-button&#45;&#45;colored mdl-js-button mdl-js-ripple-effect">&ndash;&gt;-->
  <!--&lt;!&ndash;View Updates&ndash;&gt;-->
  <!--&lt;!&ndash;</a>&ndash;&gt;-->
  <!--</div>-->
  <!--</div>-->

  <!--My card-->
  <div class="about-card">
    <h5><img src="../images/maggie.jpg" height="100" width="100">Maggie's Philosophy</h5>
    <p>The focus of a workout can be either reps or time. For people focused on time, it’s the amount of time exercising that’s important. When I workout, my focus is to workout 20-30 minutes, so I need a list of exercises to get me to that goal. This app acts as an ingredient list without the measurements.
      We supply the exercises and users decide the amount and intensity.</p>
  </div>

  <!--My card-->
  <div class="about-card">
    <h5><img src="../images/marlie.png" height="100" width="100">Marlie's Philosophy</h5>
    <p>My goal is always to perform a workout as safely and efficiently as possible. We aim to provide suggested timelines and equipment that can be adjusted based on your personal fitness level and schedule. My motto is: form before speed and range of motion before intensity.
      Remember to save time to warm-up and cool down before and after each exercise!</p>
  </div>

</div>

<!--MLD list-->
<!-- Two Line List with secondary info and action -->
<!--<style>-->
<!--.demo-list-two {-->
<!--width: 300px;-->
<!--}-->
<!--</style>-->
<!--<div class="about-list-container">-->
<!--<ul class="about-list demo-list-two mdl-list">-->

<!--<li class=" mdl-list__item mdl-list__item&#45;&#45;two-line">-->
<!--<span class="mdl-list__item-primary-content">-->
<!--<span>Accessible</span>-->
<!--<span class="mdl-list__item-sub-title">Workouts can be tailored based on ability, injury, or equipment.-->
<!--Exercises can be skipped, and a new one will be suggested.</span>-->
<!--</span>-->
<!--</li>-->
<!--<li class=" mdl-list__item mdl-list__item&#45;&#45;two-line">-->
<!--<span class="mdl-list__item-primary-content">-->
<!--<span>Fast</span>-->
<!--<span class="mdl-list__item-sub-title">Open the app and go. All the info about exercises and equipment is right there.</span>-->
<!--</span>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->

<!-- <h4>Same info as list</h4>
<div class="test-about-list-container">
  <ul class="test-about-list">
    <li>
      <h5>Accessible</h5>
      <p>Workouts can be tailored based on ability, injury, or equipment.
        Exercises can be skipped, and a new one will be suggested.</p>
    </li>
    <li>
      <h5>Fast</h5>
      <p>Workouts can be tailored based on ability, injury, or equipment.
        Exercises can be skipped, and a new one will be suggested.</p>
    </li>
    <li>
      <h5>Variety</h5>
      <p>Exercises are varied so you won't get bored.</p>
    </li>
  </ul>
</div> -->


<br>

<h3>Make Mission Magic</h3>
<div class="about-card-container">

<!--My card-->
<div class="about-card">
  <h5>Starting It</h5>
  <p>Imagine this app as a box of notecards. Each Circuit has 10 exercises,
    so when you go to the gym, you can pick a "notecard" and have a great workout.Start with the first exercise and work through the circuit in order. Each exercise will show the # of cycles of complete for each circuit.</p>
</div>

<!--My card-->
<div class="about-card">
  <h5>Cusomizing It</h5>
  <p>It's customizable, so you can skip exercises you don't like and the app
  will suggest a new one instead. Each exercise has instructions so you can learn
  proper form. Want to bring up the intensity? Work on increasing your speed by timing how long it takes to complete one circuit, push to beat your time each round.</p>
</div>
</div>
