<p>Concept:each card lists a handful of the exercises in the workout.
  It's not an exact list. It's to see if you're in the mood for most
  of the exercises. If you like the 4 you see and not the others, you
  can just substitute </p>
<!-- Wide card with share menu button -->
<!-- Event card -->

<div class="demo-card-event mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title mdl-card--expand">
    <div class="workout-card">
      <h4>Workout Name</h4>
      <p>Exercise1</p>
      <p>Exercise2</p>
      <p>Exercise3</p>
      <p>Exercise4</p>
    </div>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      See full workout
    </a>
    <div class="mdl-layout-spacer"></div>
    <!--<i class="material-icons">trending_flat</i>-->
  </div>
</div>
