<div class="workout-container">
  <div class="workout-heading">
    <h4>Today's Workout</h4>
    <p><em>Refresh page to create new workout.</em></p>
  </div>
  <div>
    <ul class="workout-ul">
      <li ng-repeat="item in workoutTest">
        <div class="exercise-container" ng-click="seeDemo(item.Title)">

          <div class="exercise-title">
            <p>{{ item.Title }}</p>
          </div>

          <!--Hidden exercise details-->
          <ul ng-show="dictionary[item.Title]" class="exercise-item-details">
            <li><span>Reps</span> {{ item.Reps }}</li>
            <li><span>Time</span> {{ item.Time }}</li>
            <li><span>Weight Range</span> {{ item.WeightRange }}</li>
            <li><span>Steps</span>{{ item.Steps[0].step }}</li>
            <li>{{ item.Steps[1].step }}</li>
            <li>{{ item.Steps[2].step }}</li>
            <li>{{ item.Steps[2].step }}</li>
            <li><span>Modifications</span> {{ item.MODS }}</li>
            <li><span>Section</span> {{ item.Section }}</li>
            <li><span>Body Parts</span> {{ item.BodyParts }}</li>
            <li><span>Equipment</span> {{ item.Equipment }}</li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <!--Old code. Keeping for future reference for the 'next button'-->

  <!--&lt;!&ndash; Circuit 1 &ndash;&gt;-->
  <!--<div class="circuit-1" ng-show="showCircuit1">-->
  <!--&lt;!&ndash;<h4>Circuit 1</h4>&ndash;&gt;-->
  <!--<ul class="list">-->

  <!--&lt;!&ndash;Exercise&ndash;&gt;-->
  <!--<li>-->
  <!--<div class="workout-parent">-->
  <!--&lt;!&ndash;Workout Demo button&ndash;&gt;-->
  <!--<div class="workout-item" ng-click="seeDemo()">-->
  <!--<div class=""><p>{{data.Exercises.Exercise7.Title}}</p></div>-->
  <!--</div>-->
  <!--&lt;!&ndash;Next Workout button&ndash;&gt;-->
  <!--&lt;!&ndash;<button class="mdl-button mdl-js-button mdl-button&#45;&#45;icon mdl-button&#45;&#45;colored"&ndash;&gt;-->
  <!--&lt;!&ndash;ng-click="next_Exercise()">&ndash;&gt;-->
  <!--&lt;!&ndash;<i class="material-icons">keyboard_arrow_right</i>&ndash;&gt;-->
  <!--&lt;!&ndash;</button>&ndash;&gt;-->
  <!--<div class="next-box">-->
  <!--<i class="material-icons">keyboard_arrow_right</i>-->
  <!--</div>-->
  <!--</div>-->


  <!--&lt;!&ndash;Demo img, hidden&ndash;&gt;-->
  <!--<div class="workout-visual" ng-show="showDemo">-->
  <!--&lt;!&ndash;<img src="images/demo-placeholder.jpg">&ndash;&gt;-->
  <!--<div class="gif-container">-->
  <!--<video width="200px" height="200px">-->
  <!--<source src="">-->
  <!--</video>-->

  <!--&lt;!&ndash;<a href="https://imgflip.com/gif/197h9c"><img src="https://i.imgflip.com/197h9c.gif"&ndash;&gt;-->
  <!--&lt;!&ndash;title="made at imgflip.com"/></a>&ndash;&gt;-->
  <!--&lt;!&ndash;<img src="../images/jumprope.jpg">&ndash;&gt;-->
  <!--</div>-->
  <!--<ul class="circuit-exercises">-->
  <!--&lt;!&ndash;<li><span>Sets</span> {{data.Exercises.Exercise1.Sets}}</li>&ndash;&gt;-->
  <!--<li><span>Reps</span> {{data.Exercises.Exercise1.Reps}}</li>-->
  <!--<li><span>Time</span> {{data.Exercises.Exercise1.Time}}</li>-->
  <!--<li><span>Steps</span> {{data.Exercises.Exercise1.Steps[0].step}}</li>-->
  <!--<li> {{data.Exercises.Exercise1.Steps[1].step}}</li>-->
  <!--<li> {{data.Exercises.Exercise1.Steps[2].step}}</li>-->
  <!--<li><span>Modifications</span> {{data.Exercises.Exercise1.MODS}}</li>-->
  <!--<li><span>Section</span> {{data.Exercises.Exercise1.Section}}</li>-->
  <!--<li><span>Body Parts</span> {{data.Exercises.Exercise1.BodyParts}}</li>-->
  <!--<li><span>Equipment</span> {{data.Exercises.Exercise1.Equipment}}</li>-->
  <!--<li><span>Weight Range</span> {{data.Exercises.Exercise1.WeightRange}}</li>-->
  <!--</ul>-->
  <!--</div>-->
  <!--</li>-->

  <!--&lt;!&ndash;Exercise&ndash;&gt;-->
  <!--<li class="">-->
  <!--<div class="workout-parent">-->
  <!--<div class="workout-item">-->
  <!--<p class="">Box Jumps</p>-->
  <!--</div>-->
  <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;icon mdl-button&#45;&#45;colored">-->
  <!--<i class="material-icons" ng-click="">keyboard_arrow_right</i>-->
  <!--</button>-->
  <!--</div>-->
  <!--</li>-->

  <!--&lt;!&ndash;Exercise&ndash;&gt;-->
  <!--<li class="">-->
  <!--<div class="workout-parent">-->
  <!--<div class="workout-item">-->
  <!--<p class="">Plyo Squats</p>-->
  <!--</div>-->
  <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;icon mdl-button&#45;&#45;colored">-->
  <!--<i class="material-icons" ng-click="">keyboard_arrow_right</i>-->
  <!--</button>-->
  <!--</div>-->
  <!--</li>-->

  <!--&lt;!&ndash;Exercise&ndash;&gt;-->
  <!--<li class="">-->
  <!--<div class="workout-parent">-->
  <!--<div class="workout-item">-->
  <!--<p class="">Side Planks</p>-->
  <!--</div>-->
  <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;icon mdl-button&#45;&#45;colored">-->
  <!--<i class="material-icons" ng-click="">keyboard_arrow_right</i>-->
  <!--</button>-->
  <!--</div>-->
  <!--</li>-->

  <!--</ul>-->
  <!--</div>-->

  <!--&lt;!&ndash; Circuit 2 &ndash;&gt;-->
  <!--<div class="circuit-2" ng-show="showCircuit2">-->
  <!--&lt;!&ndash;<h4>Circuit 2</h4>&ndash;&gt;-->
  <!--<ul>-->
  <!--<li class="workout-item">-->
  <!--<p class="">Side Plank</p>-->
  <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;icon mdl-button&#45;&#45;colored">-->
  <!--<i class="material-icons" ng-click="">keyboard_arrow_right</i>-->
  <!--</button>-->
  <!--</li>-->
  <!--<li class="workout-item">-->
  <!--<p class="">Jumping Jacks</p>-->
  <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;icon mdl-button&#45;&#45;colored">-->
  <!--<i class="material-icons">keyboard_arrow_right</i>-->
  <!--</button>-->
  <!--</li>-->
  <!--<li class="workout-item">-->
  <!--<p class="">Squats</p>-->
  <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;icon mdl-button&#45;&#45;colored">-->
  <!--<i class="material-icons">keyboard_arrow_right</i>-->
  <!--</button>-->
  <!--</li>-->
  <!--<li class="workout-item">-->
  <!--<p class="">Row</p>-->
  <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;icon mdl-button&#45;&#45;colored"><i class="material-icons">keyboard_arrow_right</i>-->
  <!--</button>-->
  <!--</li>-->
  <!--</ul>-->

  <!--</div>-->

  <!--&lt;!&ndash;Start button&ndash;&gt;-->
  <!--<div class="start-button">-->
  <!--<button class="mdl-button mdl-js-button mdl-button&#45;&#45;raised mdl-js-ripple-effect mdl-button&#45;&#45;accent">-->
  <!--Start-->
  <!--</button>-->
  <!--</div>-->


</div>
